<!DOCTYPE html>
<html>

  <head>
   <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="../static/materialize.css"  media="screen,projection"/>
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

   <!--Import jQuery before materialize.js-->
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="../static/materialize.js"></script>
   <div class="container">
     <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
       <div class="container">

         <form method="get" action="" onclick="validateForm()" id="finances">
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much money are you getting for this time period?" style="color:black">What is your income?</a>

             <input name="income" type="number" value={{income}}></input>
           </p>
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much do you want to save for this time period?" style="color:black">What is your budget?</a>
             <input name="budget" type="number" value={{budget}}></input>
           </p>
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much did you spend for this time period?" style="color:black">How much have you spent?</a>
             <input name="spendings" type="number" value={{spending}}></input>
           </p>
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much do you want to accumulate overall to reach your goal?" style="color:black">How much do you want to save?</a>
             <input name="goals" type="number" value={{goals}}></input><a class="waves-effect waves-light btn"><input type="submit" value="Calculate"></input> </a><a class="waves-effect waves-light btn modal-trigger" style="float:right"href="#modal1">View</a>
           </p>

           <b><p id="blue"></p></b>

           <br>
         </form>
       </div>
     </div>

<!-- text inside modal begins here -->
     <div id="modal1" class="modal">

       <form method="render" action="">
         <div class="modal-content">
           <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
           <p> Your current income is {{income_blah}} </p>
           <p> Your current budget is {{budget_blah}} </p>
           <p> Your current spending is {{spendings_blah}}</p>
           <p> You've saved {{savings_blah}} out of {{goals_blah}}</p>
         </div>
         <div class="modal-footer">
           <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
         </div>
       </form>

     </div>

     <div id="modal2" class="modal">

       <form method="render" action="">
         <div class="modal-content">
           <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
           <!-- <img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;"> --> INSERT PIC
         </div>
         <div class="modal-footer">
           <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
         </div>
       </form>

     </div>

     <footer class="page-footer">
       <div class="footer-copyright">
           <a class="grey-text text-lighten-4 right modal-trigger" style="margin-right:12px" href="#modal2">About SHAA</a>
         <button align=center type="button" onclick="location.href='/signOutHandler'" class="btn waves-effect waves-light"
            value="sign out" style="background-color:white;back:0.8;margin-left:9px;margin-bottom:5px;color:#26a69a;"id="button">sign out</button>
       </div>
  </body>
</html>
