<!DOCTYPE html>
<html>

  <head>
   <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="../static/materialize.css"  media="screen,projection"/>
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

   <!--Import jQuery before materialize.js-->
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="../static/materialize.js"></script>
   <div class="container">
     <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
       <div class="container">

         <form method="get" action="" onclick="validateForm()" id="finances">
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much money are you getting for this time period?" style="color:black">What is your income?</a>

             <input name="income" type="number" value={{income}}></input>
           </p>
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much do you want to save for this time period?" style="color:black">What is your budget?</a>
             <input name="budget" type="number" value={{budget}}></input>
           </p>
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much did you spend for this time period?" style="color:black">How much have you spent?</a>
             <input name="spendings" type="number" value={{spending}}></input>
           </p>
           <p><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="How much do you want to accumulate overall to reach your goal?" style="color:black">How much do you want to save?</a>
             <input name="goals" type="number" value={{goals}}></input><a class="waves-effect waves-light btn"><input type="submit" value="Calculate"></input> </a><a class="waves-effect waves-light btn modal-trigger" style="float:right"href="#modal1">View</a>
           </p>

           <b><p id="blue"></p></b>

           <br>
         </form>
       </div>
     </div>

<!-- text inside modal begins here -->
     <div id="modal1" class="modal">

       <form method="render" action="">
         <div class="modal-content">
           <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
           <p> Your current income is {{income_blah}} </p>
           <p> Your current budget is {{budget_blah}} </p>
           <p> Your current spending is {{spendings_blah}}</p>
           <p> You've saved {{savings_blah}} out of {{goals_blah}}</p>
         </div>
         <div class="modal-footer">
           <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
         </div>
       </form>

     </div>

     <div id="modal2" class="modal">

       <form method="render" action="">
         <div class="modal-content">
           <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>about<bold style="color:#fff">us</bold></strong><br></h1>
           <img src="../static/grouppic.jpg" style="width:100%;height:100%;alignment:center-align;">
           <p>Hello! We are SHAA, comprised of Sandy, Hannah, Amy, and Adrian. During our experience at SD Hacks 2016, we decided to develop this web application with your financial concerns in mind. As your typical college students, we constantly rake through the week with little to no leeway for monetary freedom and long for a user-friendly, straightforward way to manage our spendings. We hope this application helps make budgeting simple and painless to do. Thank you for taking the time to visit and use our web application!</p>
           <h2 style="text-align:center;color:#26a69a;"><strong>FAQs</strong><br></h2>

           <ul class="collapsible" data-collapsible="expandable">
             <li>
               <div class="collapsible-header">What is this app's function?</div>
               <div class="collapsible-body"><p>This serves to accept income, budget, and spending parameters from the user's input and calculates the total accumulated savings. The app also features a two-step security feature. In order for the user to proceed to the G-mail login, the camera needs to be able to
               recognize two human faces. Once two human faces are recognized, the site will proceed to the G-mail login.</p></div>
             </li>
             <li>
               <div class="collapsible-header">What did you use in this web app?</div>
               <div class="collapsible-body"><p>We used a combination of HTML, CSS, JavaScript, JQuery, Python, App Engine, facial recognition API, and Google's material design called Materialize.</p></div>
             </li>
             <li>
               <div class="collapsible-header">Why SHAA? What is its significance?</div>
               <div class="collapsible-body"><p>We wanted to make something that we were proud of, something that we can present by saying "SHAA"!</p></div>
             </li>
           </ul>


           <div class="w3-container">
            <div class="w3-accordion w3-light-grey">
               <div id="Demo1" class="w3-accordion-content w3-container">
                 <p></p>
               </div>
               <div id="Demo2" class="w3-accordion-content w3-container">
                 <p></p>
               </div>
                 <div id="Demo3" class="w3-accordion-content w3-container">
                   <p></p>
                 </div>
              </div>
            </div>
          </div>
         <div class="modal-footer">
           <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
         </div>
       </form>

     </div>

     <footer class="page-footer">
       <div class="footer-copyright">
           <a class="grey-text text-lighten-4 right modal-trigger" style="margin-right:12px" href="#modal2">About SHAA</a>
         <button align=center type="button" onclick="location.href='/signOutHandler'" class="btn waves-effect waves-light"
            value="sign out" style="background-color:white;back:0.8;margin-left:9px;margin-bottom:5px;color:#26a69a;"id="button">sign out</button>
       </div>

  </body>
</html>
