<!DOCTYPE html>
<html>

  <head>
   <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="../static/materialize.css"  media="screen,projection"/>
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
   <!--Import jQuery before materialize.js-->
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="../static/materialize.js"></script>
   <div class="container">
     <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
       <div class="container">
         <!-- <form method="post" action=""> -->
           <p>What is your income?
             <input name="income" type="number" value={{income}}></input>
           </p>
           <p>What is your budget?
             <input name="budget" type="number" value={{budget}}></input>
           </p>
           <p>How much have you spent?
             <input name="spendings" type="number" value={{spending}}></input><a class="waves-effect waves-light btn"><input type="submit" value="Update"></input> </a><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
           </p>
           <br>
         </form>
       </div>
     </div>

     <div id="modal1" class="modal">
       <div class="modal-content">
         <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
       </div>
       <p> {{budget_total}} </p>
       <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
       </div>
     </div>

     <footer class="page-footer">
       <div class="footer-copyright">
         <div class="container">
           <a class="grey-text text-lighten-4 right" href="#!">About SHAA</a>
         </div>
         <button align=center type="button" onclick="location.href='/signOutHandler'" class="btn waves-effect waves-light"
            value="sign out" style="background-color:white;back:0.8;margin-left:9px;margin-bottom:5px;color:#26a69a;"id="button">sign out</button>
       </div>

     <div id="modal1" class="modal">
       <div class="modal-content">
         <h1 style="text-align:center;color:#26a69a;text-shadow:3px 3px 6px #000;"><strong>budget<bold style="color:#fff">me</bold></strong><br></h1>
       </div>
       <p> {{budget_total}} </p>
       <div class="modal-footer">
         <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
       </div>
     </div>
  </body>

</html>
